#header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    padding-top: 70px;
  }
  .header-light {
    background-image: url("../../../public/assets/image/ligth-bg.jpg");
  }
  .header-dark {
    background-image: url("../../../public/assets/image/dark-bg.jpg");
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .title > h1 {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 15px;
    color: #fff;
    @media (max-width:470px) {
    font-size: 32px;
    }
  }
  .darkModeBtn {
    cursor: pointer;
  }
  .todo-input {
    width: 100%;
    border-radius: 5px;
    background-color: var(--list-bg);
    box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
    padding: 20px 24px;
    display: flex;
    gap: 24px;
    @media (max-width:470px) {
      gap: 12px;
      }
  }
  input[type="checkbox"] {
    appearance: none;
    border: 2px solid var(--list-border);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    @media (max-width:470px) {
  width: 20px;
  height: 20px;
    }
  }
  input[type="checkbox"]:hover {
    border: 2px solid #55ddff;
  }
  input[type="checkbox"]:checked::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50px;
    left: -2px;
    top: -2.5px;
    background-image: url("../../public/assets/image/checkbox.png");
    background-position: center;
    background-size: cover;
    @media (max-width:470px) {
      width: 20px;
      height: 20px;
        }
  }
  input[type="text"] {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: var(--clr-input);
    background-color: transparent;
    @media (max-width:470px) {
      font-size: 12px;
      }
  }